* {
  box-sizing: border-box;

}
@font-face {
  font-family: 'Heroes Legend Hollow';
  src: url('HeroesLegendHollow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Super Squad';
  src: url('SuperSquad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'THE AMAZING SPIDER-MAN';
  src:
    url('THEAMAZINGSPIDER-MAN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  height: 100%;

}

.homescreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/herovillainwallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-home {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;


}

h1 {
  font-size: 5em;
  line-height: 1.1;
  font-family: 'THE AMAZING SPIDER-MAN';
}

header {
  display: flex;
  justify-content: space-between;

  a {
    background-size: cover;
    background-image: url("../assets/images/batarangg.gif");
    height: 70px;
    width: 70px;
    margin-left: 10px;
  }
  div{
    display: flex;
    align-items: center;
  }
  p {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    color: red;
    
  }

}
.loading{
  background-image: url("../assets/images/hero-loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
}
.nav-toggle {
  background-image: url("../assets/images/pageturn.png");
  border: none;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  background-size: cover;
  
  background-position: right;

}

.nav-toggle:hover {
  background-size: 130%;
  

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hero-list {
  margin: 2em;
  display: flex;
  justify-content: center;

  a {

    padding: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

    margin: 0.5em;
    border: solid 5px black;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

.hero-single {
  width: 600px;
  border: solid 10px black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #000;

  .card {
    border: none;

  }
  .cardname{
    font-family: 'Heroes Legend Hollow';
    font-size: 10px;
  }

  .stats{
    border: solid 3px black;
    width: 80%;
    margin: 1em auto;
    background-color: #faf9f6;
    border-radius: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
  }

  .card-img {
    width: 60%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border: solid 3px black
  }
  .singlestat{
  p{
    background-image: url("../assets/images/Statsbar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
    margin-bottom: 5px;
    padding: 5px;
  }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.modal-header {

  flex-grow: 1;

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  nav {
    width: 100%;
  }

  a {
    margin: 0 auto;
    font-family: 'Super Squad';
    display: flex;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

}

.homelink {

  background-image: url("../assets/images/BAM.png");



}

.indexlink {
  background-image: url("../assets/images/ZAP.png");
}

.singlelink {
  background-image: url("../assets/images/BANG.png");
}